.contentLayout {
	min-height: 100vh;
}

.header {
	color: white;
	padding-right: 16px;
}

.content {
	padding: 24px;
	margin: 16px;
	min-height: 280px;
	background: rgb(255 255 255);
	border-radius: 8px;
}
